# Ignore everything
/*
# except folders starting with aggv2...
!/agg_*/
# ignore all the contents of those folders
/agg_*/*
# ... except if theres a folder named reports
!/agg_*/reports
# ... or if it is a particular report (.rpt)
!/agg_*/top.fit.finalize.rpt
!/agg_*/top.failing_paths.rpt
!/agg_*/base.flow.rpt
!/agg_*/base.fit.finalize.rpt
