# Ignore everything
/*
# except folders starting with aggv2...
!/aggv2*/
# ignore all the contents of those folders
/aggv2*/*
# ... except if theres a folder named reports
!/aggv2*/reports
# ... or if it is a particular report (.rpt)
!/aggv2*/top.fit.finalize.rpt
!/aggv2*/top.failing_paths.rpt
!/aggv2*/base.flow.rpt
!/aggv2*/base.fit.finalize.rpt
